<mat-toolbar>
    <mat-toolbar-row>
        <button mat-icon-button [matMenuTriggerFor]="menu1" class="example-icon"
            aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>

        <mat-menu #menu1="matMenu">
            @for(book of books; track $index) {
            <button mat-menu-item (click)="onMenuItemClick(book)">
                <b>{{ book.level }}</b>
                <span>{{ ' ' }}</span>
                <span>{{ book.name }}</span>
            </button>
            }
        </mat-menu>

        <h2>
            {{ getCurrentBook() ? getCurrentBook().name : '' }}
        </h2>
        <button mat-icon-button class="example-icon" (click)="storage.isQuiz.set(!storage.isQuiz())">
            @if (storage.isQuiz()) {
                <mat-icon>book</mat-icon>
            } 
            @else {
                <mat-icon>quiz</mat-icon>
            }
            
        </button>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon" (click)="download()">
            <mat-icon>download</mat-icon>
        </button>
        
        <button mat-icon-button class="example-icon" (click)="fileInput.click()">
            <mat-icon>upload</mat-icon>
        </button>
        <input #fileInput type="file" (change)="upload($event)" accept=".json" hidden />
    </mat-toolbar-row>

    <mat-toolbar-row class="chapters-list">
        @if (books && getCurrentBook()) {

            <a  
                mat-button 
                (click)="changeChapter()"
                [ngClass]="{active: !storage.currentChapter().name}"
            >
            Home
        </a>

            @for(chapter of getCurrentBook().data; track $index) {
                <a 
                    (click)="changeChapter(chapter)" 
                    mat-button 
                    [routerLink]="['/chapter', chapter.id]"
                    [ngClass]="{active: isCurrentChapter(chapter.name)}"
                >{{ chapter.isIdHidden ? '' : chapter.id  + '. ' }} {{ chapter.name }}</a>
            }

        }
    </mat-toolbar-row>
</mat-toolbar>