@if (currentChapter.id && currentChapter.name) {
    <h2>{{ currentChapter.id }}: {{ currentChapter.name }}</h2>
}

<!-- <button mat-stroked-button (click)="goBack()">Назад</button> -->

@if (data) {
    @for (page of data.page; track $index) {
        <section class="container">
            <mat-card appearance="outlined" class="section">
                <app-answers [answersUrl]="data.answersUrl" [baseUrl]="data.baseUrl" [imageUrl]="page.imageUrl ?? ''" ></app-answers>
            </mat-card>
            <mat-card appearance="outlined" class="section section-1">
                <app-audio [page]="page" [data]="data"></app-audio>
                <app-my-answers-input [chapterName]="data.name" [chapterPageName]="page.imageUrl?.replace('.', '_') ?? ''"></app-my-answers-input>
                <app-answers [answersUrl]="data.answersUrl" [baseUrl]="data.baseUrl"></app-answers>
            </mat-card>
        </section>
    }
}

