<mat-tab-group>
    @if (imageUrl) {
        <mat-tab label="Book">
            <img [src]="baseUrl + 'img/' + imageUrl" class="book-page">
        </mat-tab>
    } @else {
        <mat-tab label="Hide answers"></mat-tab>
    }
    @if (answersUrl.length && baseUrl) {
        @for (answerUrl of answersUrl; track $index) {
            <mat-tab [label]="'Answers ' + (answersUrl.length === 1 ? '' : ($index + 1).toString())">
                <img [src]="baseUrl + 'img/' + answerUrl" [style.width]="'100%'">
            </mat-tab>
        }
    }
</mat-tab-group>